<style>
     .signup {
      color: #FDDB61;
     }  
     form {
      display: flex;
      flex-direction: column;
      align-items: center;
     }
     .submit
     {
      background-color: #FDDB61;
      padding: 5px;
      border-radius: 5px;
     }
     label {
      color: purple;
     }

</style>

<h1 class="signup"> Signup page </h1>
<form action="<%= users_url %>" method="POST">
  <label for="email"> EMAIL: 
  <input type="text" id="email" name="user[email]">
  </label>
  
  <br>
  <label for="password"> PASSWORD: 
  <input type="password" id="password" name="user[password]"></label>
  
  <br>
  <input class="submit" type="submit" value="Sign Up">
</form>